.author-meta{
	@extend .row;
	@extend .nest-collapse;
	border-bottom: 2px solid #eee;
	padding: 2.5em 3.5em;
	padding: 2.5rem 3.5rem;

	@media screen and (max-width: 600px) {
		padding: 1.5em;
		padding: 1.5rem;
	}

	.author-image{
		@extend .columns;
		@include grid-column(
			$columns:3,
			$last-column:false,
			$center:false,
			$collapse:true
		);
	}

	.author-text{
		@extend .columns;
		@include grid-column(
			$columns:9,
			$last-column:false,
			$center:false,
			$collapse:false
		);
	}
}