.sticky {
}

.hentry {
	margin: 0 0 3em;
}

.byline,
.updated {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-title{
	a{
		color: $body-font-color;
	}
}

.entry-meta,
.entry-footer{
	color: $body-font-subtle-color;
	font-family: $header-font-family;
	text-transform: uppercase;
	font-size: .75em;
	letter-spacing: .03em;

	a{
		color: darken($body-font-subtle-color,25%);
	}
}

.entry-footer{
	border: 3px double rgba(0,0,0,.05);
	border-left-width: 0;
	border-right-width: 0;
	padding: 1em;
}

.more-link{
	font-family: $header-font-family;
	font-weight: bold;
	text-transform: capitalize;
}